* {
    font-family: 'Work Sans', sans-serif;

}

header {
    background: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
}

.top-bar {
    display: flex;
    justify-content: space-evenly;
}

.top-title {
    width: 302px;
    height: 53px;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 15px;
}

.nav-title {
    color: #424242;
    width: 442px;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 63px;
    text-align: center;
}

.nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}

/* ----------------banner-------------------- */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 1440px;
    height: 700px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0, auto;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.btn {
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 20px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}

.banner-img {
    margin-top: 50px;
    margin-bottom: 45px;
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin-right: 240px;



}

/* ---------------------banner end-------------------- */
.mid-container {
    display: flex;
    margin-top: 85px;
    align-items: center;
    justify-content: center;
}

.mid-container-img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.mid-section-left {}

.top-section {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.bottom-section {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.mid-section-right {}

.mid-section-right-h1 {
    font-weight: 500;
    font-size: 45px;
    width: 468px;
    height: 106px;
    margin-left: 76px;
    margin-top: 50px;
}

.mid-section-right-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 537px;
    height: 78px;
    margin-left: 73px;
}

.dark03 {
    color: #727272;
}

.features-span {
    color: #FF900E;
}

.mid-section-right-btn {
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 20px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-left: 73px;
}

.features-container {
    width: 1440px;
    height: 1059px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 144px;
    margin-left: 244px;
    gap: 20px;
}

.features-description {
    width: 586px;
    height: 982px;
    margin-right: 54px;
    padding: 30px;
}

.feature-hr {
    border-left: 5px solid #FF900E;
}

.features-img {
    width: 800px;
    height: 1059px;
}

.item {
    width: 586px;
    height: 171px;
    padding: 10px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 0;
}

.item-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.item-info {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* -------------------------
exp-btn
----------------------- */
.experience {
    width: 342px;
    height: 200px;
    margin-top: -50px;
    margin:0 auto;
}

.exp-btn {
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-span {
    font-weight: 700;
    font-size: 65px;
}

.exp-btn p {
    font-weight: 500;
    font-size: 25px;
}



















/* ---------------
footer
------------------ */
.footer{
    color: #424242;
    background: #FFF4E7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
border-radius: 8px;
width: 1440px;
height: 100px;
margin-left: 242px;
margin-bottom: 200px;
}